<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youtubemusicapp">

    <!-- Permet l'accès à Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="YouTubeMusicApp"
        android:theme="@style/Theme.YouTubeMusicApp">

        <!-- Activité principale -->
        <activity
            android:name=".MainActivity"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activité du lecteur vidéo -->
        <activity android:name=".PlayerActivity"
            android:label="PlayerActivity" />

    </application>
</manifest>
